* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.boots-modif-ancho, .main .seccion1_div {
  width: 50%;
  margin: auto;
  padding-bottom: 10px; }

.section_video_contenedor, .main .section {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-between; }

.footer {
  background-color: #000000;
  color: #ffa500;
  height: 100px;
  padding-top: 1px;
  text-align: center; }

.nav, .header nav {
  background: #000000;
  height: 200px;
  width: 100%; }

.checkbtn, .header nav label {
  font-size: 70px;
  color: orange;
  float: right;
  line-height: 170px;
  margin-right: 100px;
  cursor: pointer;
  display: none; }

.header {
  background: #000000; }
  .header nav #check {
    display: none; }
  .header nav .enlace a {
    position: absolute;
    padding: 0 5px; }
  .header nav .logo a img {
    width: 300px; }
  .header nav ul {
    float: right; }
    .header nav ul .imagen-logo:hover {
      cursor: pointer;
      transition: 2s; }
    .header nav ul li {
      display: inline-block;
      line-height: 200px;
      margin: 0 30px; }
      .header nav ul li a {
        font-size: 20px;
        padding: 3px 10px;
        border-radius: 10px; }
        .header nav ul li a .btn-neon {
          position: relative;
          padding: 15px 30px;
          color: #e1ff00;
          font-size: 25px;
          text-decoration: none;
          transition: 2s; }
        .header nav ul li a .btn-neon:hover {
          background-color: #ffa500;
          box-shadow: 0 0 10px #ffa500, 0 0 200px #ffa500, 0 0 80px #ffa500; }
  .header #slider {
    width: 100%;
    overflow: hidden; }
    .header #slider #contenedor {
      display: grid;
      grid-template-columns: 100% 100% 100%;
      width: 100%;
      animation-name: mover;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      flex-wrap: nowrap; }
  .header #imagen1 {
    background-image: url("../resources/definbanner.jpg");
    width: 100%;
    height: 440px;
    background-size: cover; }
  .header #imagen2 {
    background-image: url("../resources/banner2.jpg");
    width: 100%;
    height: 440px;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center; }
  .header #imagen3 {
    background-image: url("../resources/banner3.jpg");
    width: 100%;
    height: 440px;
    background-size: cover;
    position: relative;
    background-position: center center; }

@keyframes mover {
  25% {
    margin-left: 0%; }
  28% {
    transition-delay: 5s;
    margin-left: -100%; }
  54% {
    transition-delay: 5s;
    margin-left: -100%; }
  58% {
    transition-delay: 5s;
    margin-left: -200%; }
  95% {
    transition-delay: 5s;
    margin-left: -200%; }
  100% {
    transition-delay: 5s;
    margin-left: 0%; } }

@media (max-width: 952px) {
  .enlace {
    padding-left: 50px; }
  .btn-neon {
    font-size: 16px; }
  .btn-neon:hover {
    background-color: transparent;
    box-shadow: none; } }

@media (max-width: 1400px) {
  .checkbtn, .header nav label {
    display: block; }
  ul {
    display: flex;
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    /* background: rgba(3, 124, 23, 0.809);  */
    top: 80px;
    left: -150%;
    text-align: center;
    transition: all .5s; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav ul li a {
    font-size: 10px; }
  li a:hover,
  li a.active {
    background: none;
    color: orange; }
  #check:checked ~ ul {
    left: 0; } }

@media (max-width: 1400px) {
  #imagen1 {
    height: 200px;
    width: 100vw;
    background-size: cover; }
  #imagen2 {
    height: 200px;
    width: 100vw;
    background-size: cover; }
  #imagen3 {
    height: 200px;
    width: 100vw; } }

@media (max-width: 1150px) {
  .container {
    grid-template-columns: 150px;
    grid-template-rows: repeat(4, 150px);
    /* grid-auto-rows: 1fr; */
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: "cancun " "disney" "roma" "africa";
    justify-content: center; } }

.main h2 {
  text-align: center; }

.main p {
  text-align: center;
  font-size: 25px; }

.main .article p {
  text-align: center;
  font-size: 15px; }

.main .article .map_iframe {
  display: flex;
  justify-content: center; }

.main .section iframe {
  width: 300px;
  height: 400px; }

@media (max-width: 1150px) {
  .section_video_contenedor, .main .section {
    flex-direction: column; } }

main {
  padding: 50px;
  background-color: #ece9e9;
  background-image: linear-gradient(#c6d634dc, orange); }

.main_titulogrilla {
  text-align: center; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "cancun cancun disney disney" "cancun cancun disney disney" "roma roma africa africa" "roma roma africa africa";
  justify-content: center; }

.cancun {
  text-align: center;
  grid-area: cancun;
  background-image: url("../resources/cancunsi.webp");
  color: white;
  background-size: cover; }

.disney {
  text-align: center;
  grid-area: disney;
  background-image: url("../resources/disney1.jpg");
  color: white;
  background-size: cover; }

.roma {
  text-align: center;
  grid-area: roma;
  background-image: url("../resources/romasi.jpg");
  color: white;
  background-size: cover; }

.africa {
  text-align: center;
  grid-area: africa;
  background-image: url("../resources/africa1.jpg");
  color: white;
  background-size: cover; }

.main .section .article1 .card {
  align-items: center;
  justify-content: center; }
  .main .section .article1 .card img {
    width: 550px;
    height: 350px; }

@media (max-width: 1150px) {
  .imagenes_cards img {
    width: 550px;
    height: 350px; }
  .card {
    align-items: center;
    justify-content: center; } }

.footer ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  flex-direction: row-reverse;
  margin: 20px;
  justify-content: center; }
  .footer ul li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: 0.1s; }
  .footer ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: -10px;
    left: 0;
    background: #2a2a2a;
    transform-origin: top;
    transform: skew(-41deg); }
  .footer ul li::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: -10px;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg); }
  .footer ul li span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    transition: 0.5s; }
  .footer ul li:hover span {
    z-index: 1000;
    box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.05);
    color: #fff; }
  .footer ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1; }
  .footer ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8; }
  .footer ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6; }
  .footer ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4; }
  .footer ul li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: 0.2; }
  .footer ul li:nth-child(1):hover span {
    background: #3b5998; }
  .footer ul li:nth-child(2):hover span {
    background: #55acee; }
  .footer ul li:nth-child(3):hover span {
    background: linear-gradient(125deg, #515bd4, #8134af, #dd2a7b, #f58529); }
  .footer ul li:nth-child(4):hover span {
    background: #4dc247; }
  .footer ul li:nth-child(5):hover span {
    background: #007bb5; }
