.main{
    .article{
        p{
            text-align: center;
            font-size: 15px;
        }
        .map_iframe {
            display: flex;
            justify-content: center;
        }
    }
}

