// Page alojamientos - Carousel de imágenes 
.boots-modif-ancho {
    width: 50%;
    margin: auto;
    padding-bottom: 10px;

}

.alojamientos__titulos {
    text-align: center;
}

.alojamientos__titulos__p {
    text-align: center;
    font-size: 25px;
}
