//Page destinos - tamaño de video(iframe)
.main{
    .section{
        @extend .section_video_contenedor;
        iframe {
            width: 300px;
            height: 400px;
        
        }
    }
    
}

//Estrategia Responsive: Mobile Last ---- Page destino
@media (max-width:1150px){
.section_video_contenedor {
    flex-direction: column;
}
}