// Page alojamientos - Carousel de imágenes 

.main {
    h2 {
        text-align: center;
        
    }

    p {
        text-align: center;
        font-size: 25px;
    }
    .seccion1_div{
        @extend .boots-modif-ancho;
    }
}



