// Modifica estilos del boostrap cards 
.imagenes_cards img {
    width: 550px;
    height: 350px;
}

.card {
    align-items: center;
    justify-content: center;
}

@media (max-width:1150px) {

 // Modifica estilos del boostrap cards 
    .imagenes_cards img {
        width: 550px;
        height: 350px;
    }

    .card {
        align-items: center;
        justify-content: center;
    }
}