// -----Footer -----
//Iconos del footer 
.footer {
    @extend .footer;

    ul {
        position: relative;
        display: flex;
        transform-style: preserve-3d;
        flex-direction: row-reverse;
        margin: 20px;
        justify-content: center;

        li {
            position: relative;
            list-style: none;
            width: 40px;
            height: 40px;
            margin: 0 10px;
            transition: 0.1s;
        }

        li::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 10px;
            bottom: -10px;
            left: 0;
            background: #2a2a2a;
            transform-origin: top;
            transform: skew(-41deg);
        }

        li::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 100%;
            left: -10px;
            background: #2a2a2a;
            transform-origin: right;
            transform: skewY(-49deg);
        }

        li span {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #333333;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.5em;
            transition: 0.5s;
        }

        li:hover span {
            z-index: 1000;
            box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.05);
            color: #fff;

        }

        li:hover span:nth-child(5) {
            transform: translate(40px, -40px);
            opacity: 1;
        }

        li:hover span:nth-child(4) {
            transform: translate(30px, -30px);
            opacity: 0.8;
        }

        li:hover span:nth-child(3) {
            transform: translate(20px, -20px);
            opacity: 0.6;
        }

        li:hover span:nth-child(2) {
            transform: translate(10px, -10px);
            opacity: 0.4;
        }

        li:hover span:nth-child(1) {
            transform: translate(0px, 0px);
            opacity: 0.2;
        }

        li:nth-child(1):hover span {
            background: #3b5998;
        }

        li:nth-child(2):hover span {
            background: #55acee;
        }

        li:nth-child(3):hover span {
            background: linear-gradient(125deg, #515bd4, #8134af, #dd2a7b, #f58529);
        }

        li:nth-child(4):hover span {
            background: #4dc247;
        }

       li:nth-child(5):hover span {
            background: #007bb5;
        }
    }

}
