header {

    nav {

        background-image: linear-gradient(to right, #000000, #000000);


        div {
            ul {
                li {
                    .nav-link {
                        color: $naranja !important;
                        font-size: 20px;
                    }


                }

                .nav-link:hover {
                    color: yellow !important;
                }
            }


        }
    }

}



// Banner
#slider {
    width: 100%;
    overflow: hidden;

    #contenedor {
        display: grid;
        grid-template-columns: 100% 100% 100%;
        width: 100%;
        animation-name: mover;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        flex-wrap: nowrap;

    }
}

#imagen1 {
    background-image: url('../resources/definbanner.jpg');
    width: 100%;
    height: 440px;
    background-size: cover;

}

#imagen2 {
    background-image: url('../resources/banner2.jpg');
    width: 100%;
    height: 440px;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;

}

#imagen3 {
    background-image: url('../resources/banner3.jpg');
    width: 100%;
    height: 440px;
    background-size: cover;
    position: relative;
    background-position: center center;


}

@keyframes mover {

    25% {
        margin-left: 0%;
    }

    28% {
        transition-delay: 5s;
        margin-left: -100%;
    }

    54% {
        transition-delay: 5s;
        margin-left: -100%;
    }

    58% {
        transition-delay: 5s;
        margin-left: -200%;
    }

    95% {
        transition-delay: 5s;
        margin-left: -200%;
    }

    100% {
        transition-delay: 5s;
        margin-left: 0%;
    }

}

/* Estrategia Responsive: Mobile Last --- Banner*/
@media (max-width:1400px) {

    #imagen1 {
        height: 200px;
        width: 100vw;
        background-size: cover;


    }

    #imagen2 {

        height: 200px;
        width: 100vw;
        background-size: cover;

    }

    #imagen3 {

        height: 200px;
        width: 100vw;
        background-size: cover;
        background-size: contain;
        background-position: center;
       



    }
}